flows/Flow_Launcher.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Flow_Link</name>
        <label>Get Flow Link</label>
        <locationX>785</locationX>
        <locationY>298</locationY>
        <actionName>GenerateFlowLink</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate</targetReference>
        </connector>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <elementReference>flowApiName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>flowLink</assignToReference>
            <name>flowLink</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Flow_Metadata</name>
        <label>Get Flow Metadata</label>
        <locationX>606</locationX>
        <locationY>69</locationY>
        <actionName>GetFlowMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Autolaunched_Flow</targetReference>
        </connector>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <elementReference>flowApiName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>flowType</assignToReference>
            <name>flowType</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Launch_Autolaunched_Flow</name>
        <label>Launch Autolaunched Flow</label>
        <locationX>1006</locationX>
        <locationY>69</locationY>
        <actionName>LaunchAutolaunchedFlow</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <elementReference>flowApiName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate</name>
        <label>Navigate</label>
        <locationX>1001</locationX>
        <locationY>298</locationY>
        <actionName>c:navigate</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>flowLink</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>Is_Autolaunched_Flow</name>
        <label>Is Autolaunched Flow?</label>
        <locationX>776</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Get_Flow_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AutolaunchedFlow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Autolaunched_Flow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Flow Launcher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Launcher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Flow_Launcher</name>
        <label>Flow Launcher</label>
        <locationX>445</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Flow_Metadata</targetReference>
        </connector>
        <fields>
            <name>flowPicker</name>
            <extensionName>c:flowPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowApiName</assignToReference>
                <name>selectedFlowApiName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Flow_Launcher</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flowApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
